@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input,
select,
textarea {
  font-family: "Heebo", sans-serif;
}

body {
  background-color: #f7f7f7;
}

header {
  background-color: #fff;
  height: 5rem;
}

header #navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  max-width: 1200px;
  margin: 0 auto;
  height: 5rem;
}

header #navbar .nav-brand {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
}

header #navbar .nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

header #navbar .nav-list .nav-item a {
  text-decoration: none;
  color: #333;
  font-size: 1.25rem;
  font-weight: 500;
}

header #navbar .nav-list .nav-item a:hover {
  color: #777;
  transition: color 0.3s;
}

header #navbar .hamburguer-menu {
  display: none;
}

@media (max-width: 740px) {
  header #navbar .hamburguer-menu {
    display: block;
  }

  header #navbar .nav-list {
    display: none;
  }
}

/* SECTION BANNER */

main {
  margin-top: 6rem;
}

main #banner {
  display: flex;
  max-width: 75rem;
  padding: 0 2rem;
  margin: 0 auto;
  justify-content: space-between;
}

main #banner .banner-content .banner-content-title {
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 3.75rem;
  margin-bottom: 2.5rem;
}

main #banner .banner-content .banner-content-subtitle {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  max-width: 31.25rem;
  margin-bottom: 2.375rem;
}

main #banner .banner-content .banner-content-btn {
  background-color: #00a8cc;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 0.125rem;
  padding: 0.5rem 1.5rem;
  border: none;
}

main #banner .banner-image {
  /* border-radius: 50%; */
  width: 100%;
  max-width: 18.75rem;
}

/* SECTION POSTS */
section#posts {
  margin-top: 4.438rem;
  background-color: #edf7fa;
}

#posts .posts-content {
  padding: 0 2rem;
  max-width: 75rem;
  margin: 0 auto;
}

#posts .posts-content .posts-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

#posts .posts-content .posts-content-header .section-title {
  font-size: 1.375rem;
  font-weight: 500;
}

#posts .posts-content .posts-content-header .view-all-link {
  text-decoration: none;
  color: #00a8cc;
}

#posts .posts-content .posts-cards {
  display: flex;
  gap: 1.25rem;
  margin-bottom: 2rem;
}

#posts .posts-content .posts-cards .post-card {
  background-color: #fff;
  padding: 1.5rem;
}

#posts .posts-content .posts-cards .post-card h3 {
  font-size: 1.625rem;
  font-weight: 700;
  margin-bottom: 2.313rem;
}

#posts .posts-content .posts-cards .post-card span {
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  display: inline-block;
  margin: 1.5rem;
}

#posts .posts-content .posts-cards .post-card .metadata {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

#posts .posts-content .posts-cards .post-card .metadata span {
  margin-right: 0.5rem;
}

#featured-works {
  background-color: #f7f7f7;
  padding: 4rem 0;
}

#featured-works .container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 2rem;
}

#featured-works .section-title {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}

#featured-work .works-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#featured-works .work-item {
  display: flex;
  align-items: center;
  gap: 2rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 2rem;
}

#featured-works .work-image {
  width: 12.5rem;
  height: auto;
  object-fit: cover;
  border-radius: 0.5rem;
}

#featured-works .work-details h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

#featured-works .work-details .metadata {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

#featured-works .work-details .metadata .year {
  background-color: #00a8cc;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.25rem 0.5rem;
  border-radius: 62.438rem;
}

#featured-works .work-details .metadata .category {
  font-size: 1rem;
  font-weight: 500;
  color: #777;
}

#featured-work .work-details p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #333;
}

footer {
  background-color: #FFF;
  padding: 2rem 0;
  text-align: center;
}

.footer-content {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.social-icon i {
  font-size: 1.5rem;
  color: #333;
}

.copyright {
  font-size: 0.875rem;
  color: #777;
}

@media (max-width: 920px) {
  main #banner {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }

  main #banner .banner-content {
    text-align: center;
  }
}

@media (max-width: 740px) {
  #posts .posts-content .posts-cards {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  #featured-works .work-item {
    flex-direction: column;
    align-items: flex-start;
  }

  #featured-works .work-image {
    width: 30%;
    height: auto;
  }
}
